html {
    background-color: #ddd;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffea;
    color: #383931;
    width: 700px;
    border-color: #646756;
    border-style: solid;
    border-radius: 8px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin: 0.1em;
    border-width: 3px;
    border-color: #646756;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    background-color: #f2eee3;
    text-align: center;
}

section {
    color: black;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 6px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.5em;
    background-color: white;
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    background-color: #f2eee3;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
  
td, th {
    padding: 0.4em;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid; 
    border-color: black;
}
  
th {
    border-top-width: 2px;
    border-bottom-width: 2px;
} 

.subtitle {
    font-style: oblique;
    text-align: center;
}

.image {
    text-align: center; 
    margin: 20px 0;
  }
  .image img {
    display: block;
    margin: 0 auto; 
  }
  .image figcaption {
    font-size: 14px;
    color: gray; 
    margin-top: 5px;
